{% extends "base.html" %}

{% block content %}

<section id="content">
    <div class="d-flex" style="width:100%">


        <div class="bg-dark p-3 text-white" style="width:200px;">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Test</a>
                </li>


            </ul>
        </div>
    </div>
    <div class="bg-light p-3">
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
    </div>
    </div>
    {% block content %}
</section>